/* Estilo global */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

/* Estilo do cabeçalho */
header {
	background-color: #333;
	color: white;
	padding: 20px;
}

header h1 {
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	
}