/* Estilo global */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

/* Estilo do cabeçalho */
header {
	background-color: #333;
	color: white;
	padding: 20px;
}

header h1 {
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	
}

/* Posiçao das Imagems */

.image-wrapper {
	width: 400px;
	display: inline-block;
}

.image-container {
	text-align: center; /* opcional */
	
	
}
  
.image-wrapper {
	display: inline-block;
	margin: 10px; /* ajuste a margem conforme necessário */
	
}
  
.image-wrapper img {
	max-width: 100%;
	
}

.text-img {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


ul {
	list-style-type: none;
	margin: 20px;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
  
  
li {
	float: left;
	border-right: 1px solid #bbb;
}
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}


  

  






  